body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.header-logo {
	width: 50px;
	height: 50px;
}

h1 {
	width: 400px;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.first-p {
	margin-top: 0;
}

input {
	border: none;
	border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

p {
	font-size: medium;
	font-family: 'Courier New', Courier, monospace;
}

.postcard-footer {
	text-align: center;
}

button {
	background: darkgrey;
	padding: 3px;
}
